services:
  valhalla_config:
    image: ghcr.io/valhalla/valhalla:latest
    container_name: valhalla_config
    volumes:
      - ./valhalla_data:/data
    command: >
      sh -c "valhalla_build_config > /data/valhalla.json"

  valhalla_tiles:
    image: ghcr.io/valhalla/valhalla:latest
    container_name: valhalla_tiles
    volumes:
      - ./valhalla_data:/data
    command: >
      valhalla_build_tiles -c /data/valhalla.json /data/philippines.osm.pbf

  valhalla:
    image: ghcr.io/valhalla/valhalla:latest
    container_name: valhalla
    ports:
      - "8002:8002"
    volumes:
      - ./valhalla_data:/data
    command: >
      valhalla_service /data/valhalla.json 1
